h2 {
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

@media screen and (max-width: 638px) {
    #slide1 {
        background-image: url(../../../assets/images/slider/slide1.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #slide2 {
        background-image: url(../../../assets/images/slider/slide2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .carousel-text {
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
    }
}