.logo-text {
    font-family: 'Lobster', sans-serif;
}

.nav-center-dark-mode a:hover,
.nav-dropdown-light-mode a:hover {
    color: #e2a53f;
}

.nav-dropdown-dark-mode a {
    color: black;
}

.nav-dropdown-dark-mode a:hover {
    /* color: #800000; */
    color: black;
    font-weight: 600;
}

.catalog-dropdown-content a,
.user-dropdown-content a {
    transition: 0.2s;
}

.nav-center-light-mode a:hover {
    border-bottom: 1px solid black;
    animation: nav-link-animation 0.5s linear 0s 1;
}

@keyframes nav-link-animation {
    0% {
        border-image: linear-gradient(to right, black 0%, transparent 100%) 100% 1;
    }

    100% {
        border-image: linear-gradient(to right, black 100%, transparent 0%) 100% 1;
    }
}

.user-dropdown-content,
.catalog-dropdown-content {
    display: none;
}

.user-dropdown:hover .user-dropdown-content,
.catalog-dropdown:hover .catalog-dropdown-content {
    display: block;
}

.medium-and-small-device-menubar {}