.nav-center-dark-mode a:hover,
.nav-dropdown-light-mode a:hover,
.menubar-open-btn-dark-mode:hover,
.menubar-option-light-mode:hover {
    color: #e2a53f;
}

.menubar-option-dark-mode:hover {
    color: black;
    font-weight: 600;
}

.nav-center-light-mode a:hover,
.menubar-open-btn-light-mode:hover p {
    border-bottom: 1px solid black;
    animation: nav-link-animation 0.5s linear 0s 1;
}

@keyframes nav-link-animation {
    0% {
        border-image: linear-gradient(to right, black 0%, transparent 100%) 100% 1;
    }

    100% {
        border-image: linear-gradient(to right, black 100%, transparent 0%) 100% 1;
    }
}

.medium-and-small-device-menubar {}