.page-headline {
    background-image: url(/src/assets/images/headline/page-headline.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-headline-content-dark-mode {
    background: linear-gradient(to top, #0f0f0fd2, #0f0f0fe3, #0f0f0fe8, #0f0f0ff5);
}

.page-headline-content-light-mode {
    background: linear-gradient(to top, #fafaf5d5, #fafaf5e4, #fafaf5ee, #fafaf5);
}