* {
    cursor: none;
}

.App {
    font-family: 'Catamaran', sans-serif;
    /* color: #fafaf5; */
}

.font-lobster {
    font-family: 'Lobster', sans-serif;
}

.font-zcool {
    font-family: 'ZCOOL XiaoWei', sans-serif;
}